%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag "admin/application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    = render 'layouts/admin/nav'
    .container-fluid.container-max-width
      = bootstrap_flash_messages
      = yield
