.account
  .row.justify-content-md-center
    .col-md-6
      .card
        .card-block
          .sign-in_form
            %h1
              = t('.account')
            = image_tag attachment_url(@user, :avatar, :fill, 200, 200, format: "jpg"), class: 'rounded-circle'
            %br
            %h3
              = @user.first_name
              = @user.last_name
              = link_to edit_account_path, class: 'hype-icon-black' do
                %i.fa.fa-pencil-square.fa-lg
