.row
  .col-md-12
    .form-actions

    %table.table.table-striped
      %thead
        %tr
          %th= AudioTrack.human_attribute_name(:id)
          %th= AudioTrack.human_attribute_name(:delay)
          %th= t('edit')
      %tbody
        - @audio_tracks.each do |track|
          %tr
            %td= track.id
            %td= track.delay
            %td
              = link_to edit_admin_audio_track_path(track), class: 'hype-icon-black' do
                %i.fa.fa-pencil
    .form-actions
      = link_to "Добавить трек", new_admin_audio_track_path, class: 'btn btn-secondary'
